<div class="jumbotron">
  <h1 class="display-2 text-right">Bienvenue !</h1>
  <p class="lead text-right">EventBrite est un site d'organisation d'évènements locaux.</p>
  <hr class="my-4">
  <p class="text-right">Tu veux créer ton propre évènement ?</p>
  <p class="lead text-right">
    <%= link_to "C'est par ici !", new_event_path, class: "btn btn-primary btn-lg", role: "button"%>
  </p>
</div>
