<div class="container my-3">
    <div class="row mr-0">

      <div class="col-4 text-center">
        <div class="profile-img" style="background: none">
          <%= image_tag 'sims4.jpg', alt: 'avatar', class: "card-img-top" %>
        </div>
        <hr>
        <h5>Elargissez vos horizons</h5>
        <p>Participez à des évènements dont vous ne suspectiez même pas l'existence ! Qui sait, vous pourriez vous découvrir de nouvelles passions ou y faire de belles rencontres...</p>
      </div>

      <div class="col-4 text-center">
        <div class="profile-img" style="background: none">
          <%= image_tag 'sims2.png', alt: 'avatar', class: "card-img-top" %>
        </div>
        <hr>
        <h5>Passez maître dans l'art de recevoir</h5>
        <p>Créez vos propres évènements et offrez la possibilité au monde entier d'y participer. Montrez à tous que vos (centres d') intérêts peuvent être ceux du plus grand nombre !</p>
      </div>

      <div class="col-4 text-center">
        <div class="profile-img" style="background: none">
          <%= image_tag 'sims3.jpg', alt: 'avatar', class: "card-img-top" %>
        </div>
        <hr>
        <h5>Invitez vos amis</h5>
        <p>Vous organisez ou participez à un évènement qui va, vous le savez, plaire à tante Claudia ou votre pote Michel ? Invitez-les via les réseaux sociaux directement !</p>
      </div>
    </div>
  </div>
