<h2>Ajouter une image de couverture à l'évènement : <%= @event.title %></h2>

<%= form_tag event_pictures_path(params[:event_id]), method: "post", multipart: true do %>
  <br>
  <%= file_field_tag :picture, class: "form-control" %>
  <br>
  <br>
  <%= submit_tag "Ajouter une photo de profil", class: "form-control btn btn-info" %>
<% end %>
