body {
  background-color: #f2f2f2;
  color: #4d4d4d;
}

.container {
  max-width: 1080px;
  margin-bottom: 50px;
}

.list-group{
 -webkit-box-shadow: 5px 5px 3px 5px rgba(0,0,0,0.38);
 box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.11);
}

.list-group-item:nth-of-type(2n){
   background: #d3d3d344;
}
